## Part 1: Preprocessing

In [186]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

from sklearn.preprocessing import LabelEncoder, OneHotEncoder


#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [187]:
# Determine the number of unique values in each column
display(attrition_df.nunique())

# [Optional] Attition and Department value counts:
# display(attrition_df["Attrition"].value_counts())
# display(attrition_df["Department"].value_counts())
# [Optional] List columns
# display(attrition_df.columns)

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [188]:
# Create y_df (as a copy of attrition_df) with the Attrition and Department columns
y_df = attrition_df[["Attrition", "Department"]].copy()

In [189]:
# Create a list of at least 10 column names to use as X data
column_names = [x_column for x_column in attrition_df.columns if x_column not in [
    "Attrition", "Department", "DistanceFromHome","Education",  
    "MaritalStatus", "PercentSalaryHike", "EducationField", "JobRole",
    "PerformanceRating", "RelationshipSatisfaction", "StockOptionLevel", 
    "TotalWorkingYears", "TrainingTimesLastYear", "YearsInCurrentRole", 
    "YearsWithCurrManager", "YearsAtCompany", "YearsSinceLastPromotion"]]

# Create X_df as copy of attrition_df, using your selected columns
X_df = attrition_df[column_names].copy()
display(X_df)

# Show the data types for X_df
display(X_df.dtypes)

,Age,BusinessTravel,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,WorkLifeBalance
0,41,Travel_Rarely,2,94,3,2,4,8,Yes,1
1,49,Travel_Frequently,3,61,2,2,2,1,No,3
2,37,Travel_Rarely,4,92,2,1,3,6,Yes,3
3,33,Travel_Frequently,4,56,3,1,3,1,Yes,3
4,27,Travel_Rarely,1,40,3,1,2,9,No,3
...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,3,41,4,2,4,4,No,3
1466,39,Travel_Rarely,4,42,2,3,1,4,No,3
1467,27,Travel_Rarely,2,87,4,2,2,1,Yes,3
1468,49,Travel_Frequently,4,63,2,2,2,2,No,2
1469,34,Travel_Rarely,2,82,4,2,3,2,No,4

Age                         int64
BusinessTravel             object
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
NumCompaniesWorked          int64
OverTime                   object
WorkLifeBalance             int64
dtype: object

# Perform Label Encoding For binary labels Feature Encoding on Nominal 
# Fields since it is binary no risk of false ordinal relationships
# X_df -> OverTime
# y_df -> Attrition

In [190]:

# [Optional] Encode X_df and y_df fields
print("🚀 Checking columns in X_df before splitting:")
print(X_df.columns)

# Step 1: Label Encode `OverTime` (Yes=1, No=0)
# Initialize LabelEncoder
overtime_le = LabelEncoder()
display(X_df["OverTime"])
# Perform Fit Transform
X_df["OverTime"] = overtime_le.fit_transform(X_df["OverTime"])

# Step 2: LabelEncoder 'Attrition'  (Yes=1, No=0)
attrition_le = LabelEncoder()

# Perform Fit Transform
y_df["Attrition"] = attrition_le.fit_transform(y_df[["Attrition"]])

# Step 3: Check if y_df['Attrition'] and X_df['OverTime'] is encoded
display(X_df)
display(y_df)

🚀 Checking columns in X_df before splitting:
Index(['Age', 'BusinessTravel', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked',
       'OverTime', 'WorkLifeBalance'],
      dtype='object')

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
1465     No
1466     No
1467    Yes
1468     No
1469     No
Name: OverTime, Length: 1470, dtype: object

/Users/tlockhart/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,Age,BusinessTravel,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,WorkLifeBalance
0,41,Travel_Rarely,2,94,3,2,4,8,1,1
1,49,Travel_Frequently,3,61,2,2,2,1,0,3
2,37,Travel_Rarely,4,92,2,1,3,6,1,3
3,33,Travel_Frequently,4,56,3,1,3,1,1,3
4,27,Travel_Rarely,1,40,3,1,2,9,0,3
...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,3,41,4,2,4,4,0,3
1466,39,Travel_Rarely,4,42,2,3,1,4,0,3
1467,27,Travel_Rarely,2,87,4,2,2,1,1,3
1468,49,Travel_Frequently,4,63,2,2,2,2,0,2
1469,34,Travel_Rarely,2,82,4,2,3,2,0,4

      Attrition              Department
0             1                   Sales
1             0  Research & Development
2             1  Research & Development
3             0  Research & Development
4             0  Research & Development
...         ...                     ...
1465          0  Research & Development
1466          0  Research & Development
1467          0  Research & Development
1468          0                   Sales
1469          0  Research & Development

[1470 rows x 2 columns]

In [191]:
# [Optional] Determine how the X_df['Business'] columns need to be split
display(attrition_df["BusinessTravel"].value_counts())

BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

# Perform Test Train Split

In [192]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

# Train-Test Split (Before OneHotEncoding!)
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.2, random_state=42)

print("🚀 Checking columns in X_train after splitting:")
print(X_train.columns)

🚀 Checking columns in X_train after splitting:
Index(['Age', 'BusinessTravel', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked',
       'OverTime', 'WorkLifeBalance'],
      dtype='object')

# Perform OneHotEncode 
# Nominal X_df -> BusinessTravel

In [193]:
# Convert your X data to numeric data types however you see fit
# Step 1. One-Hot Encode `BusinessTravel`
business_ohe = OneHotEncoder(sparse_output=False, handle_unknown="ignore")

# Fit on training data only and transform both train & test sets
X_train_business_encoded = business_ohe.fit_transform(X_train[["BusinessTravel"]])
X_test_business_encoded = business_ohe.transform(X_test[["BusinessTravel"]])

# Convert to DataFrame with column names
business_columns = business_ohe.get_feature_names_out(["BusinessTravel"])
X_train_business_df = pd.DataFrame(X_train_business_encoded, columns=business_columns, index=X_train.index)
X_test_business_df = pd.DataFrame(X_test_business_encoded, columns=business_columns, index=X_test.index)


# Concatenate with original X_train and X_test
X_train = pd.concat([X_train, X_train_business_df], axis=1)
X_test = pd.concat([X_test, X_test_business_df], axis=1)

# Drop Original Categorical Data:
X_train = X_train.drop(columns=["BusinessTravel"])
X_test = X_test.drop(columns=["BusinessTravel"])

# [Optional] Step 2: Check if X_train and X_test BusinessTravels are encoded
display(X_train.head())
display(X_train.head())

# Check X_train value counts
display(X_train['OverTime'].value_counts)

,Age,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,WorkLifeBalance,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely
1097,24,3,57,2,1,1,0,0,3,0.0,0.0,1.0
727,18,2,73,3,1,4,1,0,3,1.0,0.0,0.0
254,29,4,45,3,2,4,2,0,3,0.0,0.0,1.0
1175,39,4,66,3,2,2,4,0,3,0.0,0.0,1.0
1341,31,2,89,3,2,3,1,0,3,0.0,0.0,1.0

,Age,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,WorkLifeBalance,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely
1097,24,3,57,2,1,1,0,0,3,0.0,0.0,1.0
727,18,2,73,3,1,4,1,0,3,1.0,0.0,0.0
254,29,4,45,3,2,4,2,0,3,0.0,0.0,1.0
1175,39,4,66,3,2,2,4,0,3,0.0,0.0,1.0
1341,31,2,89,3,2,3,1,0,3,0.0,0.0,1.0

<bound method IndexOpsMixin.value_counts of 1097    0
727     0
254     0
1175    0
1341    0
       ..
1130    0
1294    0
860     1
1459    1
1126    1
Name: OverTime, Length: 1176, dtype: int64>

In [194]:
# [Optiona] Make sure X_test and X_train variables are numeric
print(X_test.dtypes)
print()
print(X_train.dtypes)

Age                                   int64
EnvironmentSatisfaction               int64
HourlyRate                            int64
JobInvolvement                        int64
JobLevel                              int64
JobSatisfaction                       int64
NumCompaniesWorked                    int64
OverTime                              int64
WorkLifeBalance                       int64
BusinessTravel_Non-Travel           float64
BusinessTravel_Travel_Frequently    float64
BusinessTravel_Travel_Rarely        float64
dtype: object

Age                                   int64
EnvironmentSatisfaction               int64
HourlyRate                            int64
JobInvolvement                        int64
JobLevel                              int64
JobSatisfaction                       int64
NumCompaniesWorked                    int64
OverTime                              int64
WorkLifeBalance                       int64
BusinessTravel_Non-Travel           float64
BusinessTravel_Travel_Frequently    float64
BusinessTravel_Travel_Rarely        float64
dtype: object

In [195]:
# Create a StandardScaler
sc = StandardScaler()

# Scale the training and testing data
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [196]:
from sklearn.preprocessing import OneHotEncoder


display(y_train)
display(y_test)

      Attrition              Department
1097          0  Research & Development
727           0  Research & Development
254           0                   Sales
1175          0  Research & Development
1341          0  Research & Development
...         ...                     ...
1130          0  Research & Development
1294          0  Research & Development
860           1  Research & Development
1459          0  Research & Development
1126          0                   Sales

[1176 rows x 2 columns]

      Attrition              Department
1041          0                   Sales
184           0  Research & Development
1222          1         Human Resources
67            0  Research & Development
220           0  Research & Development
...         ...                     ...
567           0                   Sales
560           0  Research & Development
945           0  Research & Development
522           0  Research & Development
651           0                   Sales

[294 rows x 2 columns]

# Perform OneHotEncoding on 
# y_df['Department']

In [197]:
# Step 1: Create a OneHotEncoder for the Department column
department_ohe = OneHotEncoder(sparse_output=False, handle_unknown="ignore" )

# Convert your y data to numeric data types however you see fit
# Fit the encoder to the training data
y_train_department_encoded = department_ohe.fit_transform(y_train[["Department"]])
y_test_department_encoded = department_ohe.transform(y_test[["Department"]])

# Convert departments to dataFrame with column names
department_columns = department_ohe.get_feature_names_out(["Department"])

# Create two new variables by applying the encoder
# to the numpy_array converted training and testing data
y_train_department_df = pd.DataFrame(y_train_department_encoded, columns=department_columns, index=y_train.index)
y_test_department_df = pd.DataFrame(y_test_department_encoded, columns=department_columns, index=y_test.index)

# Concatenate with original y_train and y_test
y_train = pd.concat([y_train, y_train_department_df], axis=1)
y_test = pd.concat([y_test, y_test_department_df], axis=1)

# Drop Original Categorical Data:
y_train = y_train.drop(columns=["Department"])
y_test = y_test.drop(columns=["Department"])

# Step 2: Check if y_train and y_test Department are Encoded
display(y_train.head())
display(y_test.head())

,Attrition,Department_Human Resources,Department_Research & Development,Department_Sales
1097,0,0.0,1.0,0.0
727,0,0.0,1.0,0.0
254,0,0.0,0.0,1.0
1175,0,0.0,1.0,0.0
1341,0,0.0,1.0,0.0

,Attrition,Department_Human Resources,Department_Research & Development,Department_Sales
1041,0,0.0,0.0,1.0
184,0,0.0,1.0,0.0
1222,1,1.0,0.0,0.0
67,0,0.0,1.0,0.0
220,0,0.0,1.0,0.0

## Part 2: Create, Compile, and Train the Model

In [1]:
# Find the number of columns in the X training data.
display(X_train[1].shape())

# Create the input layer


# Create at least two shared layers

NameError: name 'X_train' is not defined

In [ ]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [ ]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [ ]:
# Create the model


# Compile the model


# Summarize the model

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)              ┃ Output Shape           ┃        Param # ┃ Connected to           ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input (InputLayer)        │ (None, 10)             │              0 │ -                      │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ shared1 (Dense)           │ (None, 64)             │            704 │ input[0][0]            │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ shared2 (Dense)           │ (None, 128)            │          8,320 │ shared1[0][0]          │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ attrition_hidden (Dense)  │ (None, 32)             │          4,128 │ shared2[0][0]          │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ department_hidden (Dense) │ (None, 32)             │          4,128 │ shared2[0][0]          │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ attrition_output (Dense)  │ (None, 2)              │             66 │ attrition_hidden[0][0] │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ department_output (Dense) │ (None, 3)              │             99 │ department_hidden[0][… │
└───────────────────────────┴────────────────────────┴────────────────┴────────────────────────┘

 Total params: 17,445 (68.14 KB)

 Trainable params: 17,445 (68.14 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Train the model

Epoch 1/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - attrition_output_accuracy: 0.6931 - department_output_accuracy: 0.5956 - loss: 1.4833
Epoch 2/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8335 - department_output_accuracy: 0.6383 - loss: 1.2524
Epoch 3/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.8421 - department_output_accuracy: 0.6393 - loss: 1.1859
Epoch 4/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8389 - department_output_accuracy: 0.6692 - loss: 1.1473
Epoch 5/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8714 - department_output_accuracy: 0.6484 - loss: 1.0626
Epoch 6/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8700 - department_output_accuracy: 0.6445 - loss: 1.0750
Epoch 7/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8708 - department_output_accuracy: 0.6443 - loss: 1.0567
Epoch 8/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8926 - department_output_accuracy: 0.6593 - loss: 1.0281
Epoch 9/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.8925 - department_output_accuracy: 0.6769 - loss: 1.0079
Epoch 10/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - attrition_output_accuracy: 0.8837 - department_output_accuracy: 0.6650 - loss: 1.0448
Epoch 11/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - attrition_output_accuracy: 0.8913 - department_output_accuracy: 0.6589 - loss: 0.9769
Epoch 12/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.8823 - department_output_accuracy: 0.6842 - loss: 0.9755
Epoch 13/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.8897 - department_output_accuracy: 0.6699 - loss: 0.9850
Epoch 14/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.8915 - department_output_accuracy: 0.6798 - loss: 0.9813
Epoch 15/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - attrition_output_accuracy: 0.8976 - department_output_accuracy: 0.6822 - loss: 0.9327
Epoch 16/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - attrition_output_accuracy: 0.9062 - department_output_accuracy: 0.6940 - loss: 0.9098
Epoch 17/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - attrition_output_accuracy: 0.9044 - department_output_accuracy: 0.6907 - loss: 0.9047
Epoch 18/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9126 - department_output_accuracy: 0.7233 - loss: 0.8568
Epoch 19/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9026 - department_output_accuracy: 0.7208 - loss: 0.8745
Epoch 20/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9051 - department_output_accuracy: 0.7144 - loss: 0.8767
Epoch 21/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9003 - department_output_accuracy: 0.7723 - loss: 0.8254
Epoch 22/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9115 - department_output_accuracy: 0.7595 - loss: 0.7910
Epoch 23/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9057 - department_output_accuracy: 0.7589 - loss: 0.7756
Epoch 24/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8948 - department_output_accuracy: 0.7788 - loss: 0.7712
Epoch 25/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9151 - department_output_accuracy: 0.7514 - loss: 0.7805
Epoch 26/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9141 - department_output_accuracy: 0.7664 - loss: 0.7552
Epoch 27/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9150 - department_output_accuracy: 0.7580 - loss: 0.7498
Epoch 28/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9223 - department_output_accuracy: 0.7928 - loss: 0.7037
Epoch 29/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9060 - department_output_accuracy: 0.7920 - loss: 0.6882
Epoch 30/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9321 - department_output_accuracy: 0.8082 - loss: 0.6860
Epoch 31/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9179 - department_output_accuracy: 0.8279 - loss: 0.6400
Epoch 32/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9298 - department_output_accuracy: 0.7928 - loss: 0.6553
Epoch 33/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.9295 - department_output_accuracy: 0.8406 - loss: 0.5857
Epoch 34/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attrition_output_accuracy: 0.9550 - department_output_accuracy: 0.8519 - loss: 0.5575
Epoch 35/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.9347 - department_output_accuracy: 0.8385 - loss: 0.5860
Epoch 36/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9367 - department_output_accuracy: 0.8472 - loss: 0.5542
Epoch 37/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9355 - department_output_accuracy: 0.8720 - loss: 0.5538
Epoch 38/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9492 - department_output_accuracy: 0.8502 - loss: 0.5035
Epoch 39/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.9514 - department_output_accuracy: 0.8653 - loss: 0.4953
Epoch 40/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9636 - department_output_accuracy: 0.8815 - loss: 0.4551
Epoch 41/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9515 - department_output_accuracy: 0.8797 - loss: 0.4581
Epoch 42/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9606 - department_output_accuracy: 0.8749 - loss: 0.4460
Epoch 43/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9595 - department_output_accuracy: 0.8911 - loss: 0.4159
Epoch 44/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9559 - department_output_accuracy: 0.8938 - loss: 0.4187
Epoch 45/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9601 - department_output_accuracy: 0.8815 - loss: 0.4166
Epoch 46/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9662 - department_output_accuracy: 0.9003 - loss: 0.3787
Epoch 47/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9656 - department_output_accuracy: 0.9145 - loss: 0.3698
Epoch 48/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9613 - department_output_accuracy: 0.8928 - loss: 0.3944
Epoch 49/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9767 - department_output_accuracy: 0.9287 - loss: 0.3176
Epoch 50/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9769 - department_output_accuracy: 0.9125 - loss: 0.3235
Epoch 51/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9786 - department_output_accuracy: 0.9270 - loss: 0.3130
Epoch 52/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9749 - department_output_accuracy: 0.9389 - loss: 0.2883
Epoch 53/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9677 - department_output_accuracy: 0.9437 - loss: 0.3082
Epoch 54/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9754 - department_output_accuracy: 0.9300 - loss: 0.2834
Epoch 55/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9796 - department_output_accuracy: 0.9383 - loss: 0.2602
Epoch 56/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9849 - department_output_accuracy: 0.9451 - loss: 0.2490
Epoch 57/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9835 - department_output_accuracy: 0.9486 - loss: 0.2573
Epoch 58/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9852 - department_output_accuracy: 0.9450 - loss: 0.2297
Epoch 59/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9828 - department_output_accuracy: 0.9548 - loss: 0.2285
Epoch 60/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9788 - department_output_accuracy: 0.9606 - loss: 0.2256
Epoch 61/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9884 - department_output_accuracy: 0.9532 - loss: 0.2071
Epoch 62/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9882 - department_output_accuracy: 0.9686 - loss: 0.2007
Epoch 63/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9911 - department_output_accuracy: 0.9617 - loss: 0.1749
Epoch 64/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9833 - department_output_accuracy: 0.9672 - loss: 0.1970
Epoch 65/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9871 - department_output_accuracy: 0.9767 - loss: 0.1773
Epoch 66/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9928 - department_output_accuracy: 0.9797 - loss: 0.1622
Epoch 67/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9907 - department_output_accuracy: 0.9816 - loss: 0.1494
Epoch 68/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9891 - department_output_accuracy: 0.9794 - loss: 0.1684
Epoch 69/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9962 - department_output_accuracy: 0.9683 - loss: 0.1612
Epoch 70/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9923 - department_output_accuracy: 0.9751 - loss: 0.1411
Epoch 71/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9951 - department_output_accuracy: 0.9833 - loss: 0.1339
Epoch 72/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9889 - department_output_accuracy: 0.9895 - loss: 0.1188
Epoch 73/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9924 - department_output_accuracy: 0.9792 - loss: 0.1289
Epoch 74/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9903 - department_output_accuracy: 0.9899 - loss: 0.1157
Epoch 75/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9904 - department_output_accuracy: 0.9883 - loss: 0.1198
Epoch 76/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9924 - department_output_accuracy: 0.9833 - loss: 0.1127
Epoch 77/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9930 - department_output_accuracy: 0.9916 - loss: 0.1020
Epoch 78/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9964 - department_output_accuracy: 0.9935 - loss: 0.0978
Epoch 79/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9882 - department_output_accuracy: 0.9967 - loss: 0.0939
Epoch 80/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9939 - department_output_accuracy: 0.9961 - loss: 0.0825
Epoch 81/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9974 - department_output_accuracy: 0.9919 - loss: 0.0865
Epoch 82/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9932 - department_output_accuracy: 0.9974 - loss: 0.0823
Epoch 83/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9933 - department_output_accuracy: 0.9944 - loss: 0.0923
Epoch 84/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9923 - department_output_accuracy: 0.9952 - loss: 0.0817
Epoch 85/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9945 - department_output_accuracy: 0.9965 - loss: 0.0718
Epoch 86/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9983 - department_output_accuracy: 0.9974 - loss: 0.0654
Epoch 87/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9961 - department_output_accuracy: 0.9952 - loss: 0.0672
Epoch 88/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9962 - department_output_accuracy: 0.9985 - loss: 0.0614
Epoch 89/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9863 - department_output_accuracy: 0.9972 - loss: 0.0781
Epoch 90/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9982 - department_output_accuracy: 0.9958 - loss: 0.0687
Epoch 91/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9921 - department_output_accuracy: 0.9960 - loss: 0.0596
Epoch 92/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9977 - department_output_accuracy: 0.9977 - loss: 0.0541
Epoch 93/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.9978 - department_output_accuracy: 0.9964 - loss: 0.0546
Epoch 94/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.9985 - department_output_accuracy: 0.9962 - loss: 0.0540
Epoch 95/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9984 - department_output_accuracy: 0.9948 - loss: 0.0565
Epoch 96/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9992 - department_output_accuracy: 0.9934 - loss: 0.0528
Epoch 97/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9992 - department_output_accuracy: 0.9986 - loss: 0.0476
Epoch 98/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9923 - department_output_accuracy: 0.9957 - loss: 0.0572
Epoch 99/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9976 - department_output_accuracy: 0.9833 - loss: 0.0844
Epoch 100/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.9969 - department_output_accuracy: 0.9786 - loss: 0.0889

In [ ]:
# Evaluate the model with the testing data

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.7868 - department_output_accuracy: 0.4877 - loss: 4.0711

[4.038690090179443, 0.7880434989929199, 0.5]

In [ ]:
# Print the accuracy for both department and attrition

Attrition predictions accuracy: 0.7880434989929199
Department predictions accuracy: 0.5

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.